*{
    Margin: 0;
    Padding: 0;
    List-style: none;
    Box-sizing: border-box;
}

body {
    height: auto;
}

#hero-background {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    /* z-index: -1; */
}

header {
    height: 20vh;
    padding: 0% 5%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* z-index: 1; */
    /* background-color: black; */
}

.menu-div {
    position: relative;
    display: none;
}

#menu {
    width: 30px;
    display: none;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: max-content;
    box-shadow: 0px 1px 3px grey;
    z-index: 1;
}

.menu-content a {
    color: black;
    text-decoration: none;
    padding: 5px 8px;
    display: block;
}

.menu-div:hover .menu-content {
    display: block;
}

#hero-logo {
    width: 120px;
}

#nav-bar {
    /* border: 1px solid red; */
    padding: 0;
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-bar a {
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: larger;
    text-decoration: none;
}

#nav-bar a:hover {
    text-decoration: underline;
}

main {
    height: auto;
    /* border: 3px solid green; */
}

#hero-section {
    /* border: 1px solid blue; */
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
}

.company-name {
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 40vh;
    text-align: center;
    align-self: center;
}

.slogan {
    /* border: 1px solid red; */
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    font-weight: bold;
    /* margin-top: 3vh; */
    text-align: center;
    align-self: center;
}

#call-to-action {
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 12px;
    height: 40px;
    width: 200px;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    background-color: rgba(9, 149, 32, 1);
    align-self: center;
}

#what-we-do-section {
    /* border: 1px solid red; */
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#dealing-topic {
    width: 30%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgba(8, 124, 27, 1);
    align-self: center;
    text-align: center;
    margin-top: 30px;
}

#dealing-body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: x-large;
    width: 45%;
    align-self: center;
    text-align: center;
    margin-top: 30px;
}

#vegetative-parts {
    /* border: 1px solid black; */
    width: 70%;
    height: 60%;
    padding: 5px;
    margin-top: 50px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#vegetative-parts div {
    /* border: 1px solid red; */
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#vegetative-parts img {
    width: 90%;
}

#vegetative-parts p {
    font-family: 'Inter', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

#our-produce-section {
    height: 100vh;
    background-image: url(./Assets/Background\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#our-produce-topic {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: xx-large;
    align-self: center;
    text-align: center;
    margin-top: 30px;
}

#our-produce-body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    width: 60%;
    color: rgba(26, 26, 26, 1);
    align-self: center;
    margin-top: 20px;
}

#produce-images {
    /* border: 1px solid red; */
    width: 80%;
    height: 50%;
    padding: 10px;
    margin-top: 30px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 10px; */
}

#produce-images img {
    width: 23%;
}

#contact-us {
    /* border: 1px solid red; */
    height: 70vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

form {
    /* border: 1px solid blue; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 70%;
    align-self: center;
}

input {
    height: 30px;
    padding: 5px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-family: 'Inter', sans-serif;
}

#form-submit {
    border-radius: 18px;
    border: 0;
    height: 35px;
    width: 100px;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    background-color: rgba(9, 149, 32, 1);
    align-self: center;
}

footer {
    height: 30vh;
    background-color: rgba(24, 73, 32, 1);
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

#footer-logo {
    width: 120px;
    align-self: center;
}

footer div {
    /* border: 1px solid red; */
    width: 150px;
    align-self: center;
    justify-self: end;
    display: flex;
    justify-content: space-between;
}

footer div img {
    width: 30px;
}

#copyright-text {
    align-self: last baseline;
}




@media screen and (max-width: 480px) {
    #nav-bar {
        display: none;
    }

    .menu-div {
        display: inline-block;
    }

    #menu {
        display: block;
    }

    .company-name {
        font-size: 25px;
        margin-top: 30vh;
    }

    .slogan {
        font-size: 20px;
        margin-top: 3vh;
    }

    #dealing-topic {
        font-size: 15px;
        margin-top: 10px;
    }

    #dealing-body {
        width: 80%;
        font-size: medium;
        margin-top: 10px;
    }

    #vegetative-parts {
        height: 75%;
        margin-top: 10px;
    }

    #vegetative-parts div {
        width: 95%;
        height: 20%;
    }

    #vegetative-parts img {
        width: 35%;
    }

    #vegetative-parts p {
        font-size: large;
    }

    #our-produce-topic {
        font-size: x-large;
    }

    #our-produce-body {
        width: 90%;
        font-size: large;
    }

    #produce-images {
        margin-top: 50px;
    }

    #produce-images img {
        width: 48%;
    }

    form {
        width: 80%;
    }

    footer {
        padding: 10px;
    }

    #footer-logo {
        width: 80px;
    }

    footer div {
        width: 120px;
    }

    footer div img {
        width: 35px;
    }
}

@media screen and (max-width: 880px) and (min-width: 481px) {
    #nav-bar {
        width: 50%;
    }
    
    .company-name {
        margin-top: 30vh;
    }

    .slogan {
        margin-top: 3vh;
    }

    #dealing-body {
        width: 70%;
    }

    #vegetative-parts {
        margin-top: 30px;
    }

    #vegetative-parts div {
        width: 46%;
        height: 50%;
    }

    #vegetative-parts img {
        width: 50%;
    }

    #our-produce-body {
        width: 80%;
    }

    #produce-images {
        margin-top: 20px;
        width: 55%;
        height: 60%;
    }

    #produce-images img {
        width: 45%;
    }

    form {
        width: 50%;
    }
}

@media screen and (max-width: 1440px) and (min-width: 881px) {
    #nav-bar {
        width: 30%;
    }

    .company-name {
        margin-top: 30vh;
    }

    .slogan {
        margin-top: 3vh;
    }
}

@media screen and (min-height: 720px) and (min-width: 881px) and (max-width: 1024px) { /* Surface pro 7*/
    #vegetative-parts div {
        width: 46%;
        height: 50%;
    }
    
    #our-produce-body {
        width: 70%;
    }
    
    #produce-images {
        margin-top: 30px;
        height: 60%;
    }

    #produce-images img {
        width: 48%;
    }

    form {
        width: 50%;
    }
}
